{% include 'header.twig' %}

<main class="menuAdmin">
    <h2>Menu Modérateur</h2>
    <nav>
        <a href="/menuModerateur/addUser">Ajouter un utilisateur</a>
        <a href="/menuModerateur/addMission">Ajouter une mission</a>
        <a href="/menuModerateur/updateMission">Afficher les missions</a>
        <a href="/homepage">Retour page d'accueil</a>
    </nav>
</main>

{% include 'footer.php' %}