{% include 'header.twig' %}

<main class="menuAdmin">
    <h2>Menu Administrateur</h2>
    <nav>
        <a href="/menuAdmin/addUser">Ajouter un utilisateur</a>
        <a href="/menuAdmin/updateUser">Afficher les utilisateurs</a>
        <a href="/menuAdmin/addMission">Ajouter une mission</a>
        <a href="/menuAdmin/updateMission">Afficher les missions</a>
        <a href="/menuAdmin/addRole">Afficher les rôles</a>
        <a href="/menuAdmin/affectRole">Affecter un rôle</a>
        <a href="/homepage">Retour page d'accueil</a>
    </nav>
</main>

{% include 'footer.php' %}