{% include 'header.twig' %}

<main class="menuAdmin">
    <h2>Menu Visiteur</h2>
    <h3>Tu n'as pas accès à plus de fonctionnalités.</h3>
    <nav>
        <a href="/homepage">Retour page d'accueil</a>
    </nav>
</main>

{% include 'footer.php' %}