<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
    <title>OrbitWatch</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{# Solution trouvée pour intégrer le fichier CSS sans passer par la balise link ou autre méthode #}
<style>
    {% include 'css/style.css' %}
</style>

<body>
    <header id="logIn">
        <img src="images/logoOrbitWatch.png" alt="logo">
        <h1>OrbitWatch</h1>
    </header>